In [5]:
##python basics

In [6]:
print("hello world")

hello world

In [7]:
a=30
b=50
a
b

50

In [8]:
a=30
b=50
print(a)
print(b)

30
50

In [9]:
a=30.00
print(type(a))

<class 'float'>

In [11]:
Name="priya"
a=20;
b=30.500
d="a"

print(Name)
print(type(Name))
print(a)
print(type(d))

priya
<class 'str'>
20
<class 'str'>

In [13]:
a=b=c=20
print(a)
print(b)
print(c)
a

20
20
20

20

In [15]:
a,b,c=20,"ibm",20.00
print(a)
print(b)
print(c)
print(a,b,c)

20
ibm
20.0
20 ibm 20.0

In [16]:
str="""helo
       this is a multiline statement"""
str

'helo\n       this is a multiline statement'

In [17]:
str[2]

'l'

In [18]:
print(len(str))

41

In [19]:
print(str[:10])

helo

In [24]:
str1="   batch two trai"
print(str1.upper())
print(str1.strip())

   BATCH TWO TRAI
batch two trai

In [22]:
str1.index('')

0

In [26]:
str2="joined"
print(str1+" "+str2)

   batch two trai joined

In [33]:
m="donna"
n=23
msg="my name is {0} age is {1}"
print(msg.format(m,n))

my name is donna age is 23

In [34]:
print(100>90)
print(100<90)

True
False

In [35]:
a=30
if(a==20):
    print("a is 20")
elif(a==30):
    print("30")
else:
    print("error")

a is 20

In [38]:
for i in str1:
    print(i)

b
a
t
c
h

t
w
o

t
r
a
i

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [40]:
def sum():
    print("sum function")
sum()

sum function

In [45]:
def calculator(n,m,i):
    if (i=='+'):
        print("addition =", n+m)
    elif (i=='*'):
        print("multiplication =", n*m)
    elif (i=='-'):  
        print("substraction =", n-m)
    elif (i=='/'):
        print("division=" ,n/m)
    else:
         print("wrong option")
calculator(5,10,'+')

addition = 15

In [46]:
list1=['a',25,8.93]
list1

['a', 25, 8.93]

In [47]:
list1[2]

8.93

In [51]:
list1[2:]

[8.93]

In [52]:
if "ibm" in list1:
    print("found")
else:
    print("not found")

not found

In [54]:
list1.append("ibm")
print(list1)
list1.reverse()
print(list1)
list1.pop()
print(list1)
list1.insert(0,4)
print(list1)

['a', 25, 8.93, 'ibm']
['ibm', 8.93, 25, 'a']
['ibm', 8.93, 25]
[4, 'ibm', 8.93, 25]