In [5]:
##python basics

In [6]:
print("hello world")

hello world

In [7]:
a=30
b=50
a
b

50

In [8]:
a=30
b=50
print(a)
print(b)

30
50

In [9]:
a=30.00
print(type(a))

<class 'float'>

In [11]:
Name="priya"
a=20;
b=30.500
d="a"

print(Name)
print(type(Name))
print(a)
print(type(d))

priya
<class 'str'>
20
<class 'str'>

In [13]:
a=b=c=20
print(a)
print(b)
print(c)
a

20
20
20

20

In [15]:
a,b,c=20,"ibm",20.00
print(a)
print(b)
print(c)
print(a,b,c)

20
ibm
20.0
20 ibm 20.0

In [16]:
str="""helo
       this is a multiline statement"""
str

'helo\n       this is a multiline statement'

In [17]:
str[2]

'l'

In [18]:
print(len(str))

41

In [19]:
print(str[:10])

helo

In [24]:
str1="   batch two trai"
print(str1.upper())
print(str1.strip())

   BATCH TWO TRAI
batch two trai

In [22]:
str1.index('')

0

In [26]:
str2="joined"
print(str1+" "+str2)

   batch two trai joined

In [33]:
m="donna"
n=23
msg="my name is {0} age is {1}"
print(msg.format(m,n))

my name is donna age is 23

In [34]:
print(100>90)
print(100<90)

True
False

In [35]:
a=30
if(a==20):
    print("a is 20")
elif(a==30):
    print("30")
else:
    print("error")

a is 20

In [38]:
for i in str1:
    print(i)

b
a
t
c
h

t
w
o

t
r
a
i

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [40]:
def sum():
    print("sum function")
sum()

sum function

In [45]:
def calculator(n,m,i):
    if (i=='+'):
        print("addition =", n+m)
    elif (i=='*'):
        print("multiplication =", n*m)
    elif (i=='-'):  
        print("substraction =", n-m)
    elif (i=='/'):
        print("division=" ,n/m)
    else:
         print("wrong option")
calculator(5,10,'+')

addition = 15

In [46]:
list1=['a',25,8.93]
list1

['a', 25, 8.93]

In [47]:
list1[2]

8.93

In [51]:
list1[2:]

[8.93]

In [52]:
if "ibm" in list1:
    print("found")
else:
    print("not found")

not found

In [54]:
list1.append("ibm")
print(list1)
list1.reverse()
print(list1)
list1.pop()
print(list1)
list1.insert(0,4)
print(list1)

['a', 25, 8.93, 'ibm']
['ibm', 8.93, 25, 'a']
['ibm', 8.93, 25]
[4, 'ibm', 8.93, 25]

In [1]:
list2=[1,2,3]
list1=['u','i']
list1.extend(list2)
list1

['u', 'i', 1, 2, 3]

In [ ]:
list1

In [ ]:
print(list1)

In [2]:
tuple1=('ibm',2)
tuple1

('ibm', 2)

In [3]:
type(tuple1)

tuple

In [4]:
tuple2=('ibm')
tuple1=tuple2
tuple1

'ibm'

In [6]:
for i in tuple1:
    print(tuple1[i])

<class 'TypeError'>: string indices must be integers

In [7]:
l=list(tuple1)

In [9]:
t2=('re','yu','ko')
l5=list(t2)
l5

['re', 'yu', 'ko']

In [10]:
l5.pop()
t5=tuple(l5)
t5

('re', 'yu')

In [11]:
del tuple1
tuple1

<class 'NameError'>: name 'tuple1' is not defined

In [12]:
set1={1,1,2,2,3,3,4,4}
set1

{1, 2, 3, 4}

In [14]:
for i in set1:
    print(i)

1
2
3
4

In [15]:
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [16]:
set1.clear()

In [17]:
dict1={"age":18,
       "name":"h",
       "pin":89076}
dict1

{'age': 18, 'name': 'h', 'pin': 89076}

In [19]:
dict1.get("age")

18

In [21]:
dict1.keys()

dict_keys(['age', 'name', 'pin'])

In [22]:
dict1.values()

dict_values([18, 'h', 89076])

In [24]:
dict1.items()

dict_items([('age', 18), ('name', 'h'), ('pin', 89076)])

In [25]:
if "age" in dict1:
    print("present")

present

In [27]:
for i in dict1:
    print(dict[i])

dict['age']
dict['name']
dict['pin']

In [28]:
dict2=dict1.copy()
dict2

{'age': 18, 'name': 'h', 'pin': 89076}

In [30]:
dict3={"e1":{"a1":1,"a2":2},
       "e2":{"b1":6}}

In [31]:
dict3

{'e1': {'a1': 1, 'a2': 2}, 'e2': {'b1': 6}}

In [32]:
dict4=dict3.get("e1")

In [33]:
dict4

{'a1': 1, 'a2': 2}

In [34]:
dict4.get("a1")

1

In [36]:
a=lambda x:x*x
print(a(4))

16